<?xml version='1.0' encoding='utf-8'?>
<widget id="org.SMKN4.RPL.SURAT" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>SURAT SMKN4 BOGOR</name>
    <description>
        INI ADALAH APLIKASI SURAT UNTUK SMKN 4 BOGOR
    </description>
    <author email="lagustinus211@gmail.com" href="http://cordova.io">
        Agustinus
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
     <platform name="electron">
        <preference name="ElectronSettingsFilePath" value="res/electron/settings.json" />
    </platform>
    <icon src="res/icons8-darth-vader-512.png" />
</widget>
